<form role="form" id="changePasswordForm" class="login-form fade-in-effect in" novalidate="novalidate" name="changePasswordForm" ui-form="changePassword">
    <div class="modal-header">
        <h3 class="modal-title">Change Password</h3>
    </div>
    <div class="modal-body text-center">
        <div class="form-group">
            <input ng-class="{'error':changePasswordForm.oldPassword.$invalid && changePasswordForm.oldPassword.$dirty}" type="password" class="form-control input-dark" name="oldPassword" id="username" placeholder="Enter Old Password" ng-model="formData.oldPassword" tooltip-enable="changePasswordForm.oldPassword.$invalid && changePasswordForm.oldPassword.$dirty" uib-tooltip="Please enter old Password." tooltip-placement="top" ui-required>
        </div>
        <div class="form-group">
            <input ng-class="{'error':changePasswordForm.newPassword.$invalid && changePasswordForm.newPassword.$dirty}" type="password" class="form-control input-dark" name="newPassword" id="username" placeholder="Enter New Password" ng-model="formData.newPassword" tooltip-enable="changePasswordForm.newPassword.$invalid && changePasswordForm.newPassword.$dirty" uib-tooltip="Please enter new Password." tooltip-placement="top" ui-required>
        </div>
        <div class="form-group">
            <input ng-class="{'error':changePasswordForm.confirmPassword.$invalid && changePasswordForm.confirmPassword.$dirty}" type="password" class="form-control input-dark" name="confirmPassword" id="username" placeholder="Confirm Password" ng-model="formData.confirmPassword" tooltip-enable="changePasswordForm.confirmPassword.$invalid && changePasswordForm.confirmPassword.$dirty" uib-tooltip="Please re-enter the new password." tooltip-placement="top" ui-required ui-equalto="formData.newPassword">
        </div>
        <div class="form-group">
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success text-left">
            Change Password
        </button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>
